@{
    ViewData["Title"] = "Listar Modelos";
}


<head>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<section class="container-fluid listaModelos">
    <h3 class="mt-5 mb-5 text-center titulo animate__animated animate__backInDown">
        Modelos em estoque</h3>
        <table class="table mt-5 text-center table-bordered animate__animated animate__backInUp" border="1px" cellpadding="5px" cellspacing="0px">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Id_Modelo</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                        <button type="button" class="btn btn-danger text-center" align="center">
                            <span class="material-icons">
                                delete
                            </span>Excluir
                        </button>
                        <button type="button" class="btn btn-secondary" align="center">
                            <span class="material-icons">
                                upgrade
                            </span>Alterar
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>
                        <button type="button" class="btn btn-danger text-center" align="center">
                            <span class="material-icons">
                                delete
                            </span>Excluir
                        </button>
                        <button type="button" class="btn btn-secondary" align="center">
                            <span class="material-icons">
                                upgrade
                            </span>Alterar
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-danger text-center">
                            <span class="material-icons">
                                delete
                            </span>Excluir
                        </button>
                        <button type="button" class="btn btn-secondary">
                            <span class="material-icons">
                                upgrade
                            </span>Alterar
                        </button>
                    </td>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-danger text-center">
                            <span class="material-icons">
                                delete
                            </span>Excluir
                        </button>
                        <button type="button" class="btn btn-secondary">
                            <span class="material-icons">
                                upgrade
                            </span>Alterar
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-danger text-center">
                            <span class="material-icons">
                                delete
                            </span>Excluir
                        </button>
                        <button type="button" class="btn btn-secondary">
                            <span class="material-icons">
                                upgrade
                            </span>Alterar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
</section>
