@{
    ViewData["Title"] = "Cadastrar Fornecedor";
}

<head>
    <link rel="stylesheet" href="~/css/style-login.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<section class="ftco-section animate__animated animate__bounceInLeft">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span><img class="img-login animate__animated animate__backInUp" src="~/img/cadastro.png" alt="" srcset=""></span>
                    </div>
                    <h3 class="text-center mb-4">Cadastro de fornecedores</h3>
                    <form action="#" class="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Nome" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="CNPJ" required>
                        </div>
                        <div class="form-group d-flex">
                            <input type="text" class="form-control rounded-left" placeholder="Endereço" required>
                        </div>
                        <div class="form-group align-items-center">
                            <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

