@{
    ViewData["Title"] = "Listar Fornecedor";
}

<head>
    <link rel="stylesheet" href="~/css/style-login.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<div class="container-fluid">
    <h3 class="text-center titulo mt-5 mb-5 animate__animated animate__backInDown">Listar fornecedores</h3>
    <div class="table-responsive table-boordles">
        <table class="table mt-5 text-center table-bordered animate__animated animate__backInUp" border="1px" cellpadding="5px" cellspacing="0px">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id_Fornecedor</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Rua Victor Augusto, 225</td>
                    <td>
                        <button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-secondary">Alterar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Rua Diogo Torres, 205</td>
                    <td>
                        <button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-secondary">Alterar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Rua Kelberth, 107</td>
                    <td>
                        <button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-secondary">Alterar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
   