    <section class="container inicio animate__animated animate__backInLeft">

        <h1 class="mt-5 mb-5 text-center titulo">Um pouco de nossa história</h1>
        <p class="lead font-weight-normal font-primary text-center texto-historia">
            Calçados supimpa surge de um projeto
            em grupo criado pelo professor marco
        </p>
        <p class="lead font-weight-normal font-primary text-center texto-historia">
            Durante nossa trajetória nos fudemos
            demais, a cada instante um problema novo
        </p>
        <p class="lead font-weight-normal font-primary text-center texto-historia">
            Entrentanto todavia quem nasce pra se
            foder uma hora ganha algo
        </p>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card align-items-justify">
                            <img src="~/img/relogio.png" class="card-img-top icones-svg" alt="...">
                            <div class="card-body text-justify">
                                <h5 class="card-title">Redução de tempo em filas</h5>
                                <p class="card-text">Compras 100% online e produto totalmente garantido.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <img class="icones-svg card-img-top" src="~/img/nike.png" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Marcas de primeira</h5>
                        <p class="card-text">Produtos totalmente originais com as melhores marcas do mercado.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <img class="icones-svg card-img-top" src="~/img/prancheta.png" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Estoque Atualizado</h5>
                        <p class="card-text">
                            Com todos os pedidos integrados e ficha técnica automática, cada
                            ingrediente é atualizado no estoque em tempo real, e você pode consultar as quantidades a
                            qualquer momento.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card">
                    <img class="icones-svg card-img-top" src="~/img/caixa.png" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Entregas Rápidas</h5>
                        <p class="card-text">
                            Com um sistema inteligente que gera rotas mais rápidas entre os pedidos,
                            nos destacamos em agilidade.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-3 text-center">
            <a asp-controller="Home" asp-action="Produtos"><button type="button" class="btn btn-primary button ">Nossos produtos</button></a>
        </div>
    </section>
