@{
    ViewData["Title"] = "Listar Vendas";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>

    <div class="container-fluid">
        <h3 class="text-center mt-5 mb-5 titulo animate__animated animate__backInDown">Vendas</h3>
        <div class="table-responsive table-boordles">
            <table class="table mt-5 text-center table-bordered animate__animated animate__backInUp" border="1px" cellpadding="5px" cellspacing="0px">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Dt_Venda</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>