@model IEnumerable<Projeto_Loja_Sapatos.Models.Modelos>

@{ ViewData["Title"] = "Produtos"; }

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">


</head>

<h1 class="mt-5 text-center titulo mb-5 animate__animated animate__backInUp">Nosso catalogo</h1>
<div class="row animate__animated animate__backInLeft">

    @*@await Html.PartialAsync("Index.cshtml")*@
    <h1>Tenis</h1>
    @await Html.PartialAsync("_Tenis.cshtml", Model)
    <h1>Salto</h1>
    @await Html.PartialAsync("_Salto.cshtml", Model)

</div>
